# Secrets
.cloud-access-secrets.sh
CryptomatorCommon/Sources/CryptomatorCommonCore/CloudAccessSecrets.swift

# macOS
.DS_Store

# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# fastlane
Preview.html
fastlane/.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/screenshots.html
fastlane/screenshots/*/*.png
fastlane/test_output
