--minversion 0.49.2

# format options

--closurevoid preserve
--commas inline
--ifdef no-indent
--importgrouping testable-bottom
--indent tab
--self init-only
--stripunusedargs closure-only
--swiftversion 5.1
--tabwidth 4

# rules

--enable isEmpty
--disable redundantReturn,trailingClosures,wrapMultilineStatementBraces
